Repository antonVryckij/katy_cakes_admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint, prettier --write, npm run lint

add components
  .lintstagedrc
  eslint.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/NavbarLinksGroup/NavbarLinksGroup.module.css
  src/components/NavbarLinksGroup/NavbarLinksGroup.tsx
  src/components/NavbarNested/Logo.tsx
  src/components/NavbarNested/NavbarNested.module.css
  src/components/NavbarNested/NavbarNested.tsx
  src/components/UserButton/UserButton.module.css
  src/components/UserButton/UserButton.tsx
  src/index.css
  src/main.tsx
  stylelint.config.mjs
Due: npm run stylelint, prettier --write, npm run lint

add material ui
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/NavbarLinksGroup/NavbarLinksGroup.module.css
  src/components/NavbarLinksGroup/NavbarLinksGroup.tsx
  src/components/NavbarNested/Logo.tsx
  src/components/NavbarNested/NavbarNested.module.css
  src/components/NavbarNested/NavbarNested.tsx
  src/components/UserButton/UserButton.module.css
  src/components/UserButton/UserButton.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/components/AppNavbar.tsx
  src/components/dashboard/components/CardAlert.tsx
  src/components/dashboard/components/ChartUserByCountry.tsx
  src/components/dashboard/components/CustomDatePicker.tsx
  src/components/dashboard/components/CustomizedDataGrid.tsx
  src/components/dashboard/components/CustomizedTreeView.tsx
  src/components/dashboard/components/Header.tsx
  src/components/dashboard/components/HighlightedCard.tsx
  src/components/dashboard/components/MainGrid.tsx
  src/components/dashboard/components/MenuButton.tsx
  src/components/dashboard/components/MenuContent.tsx
  src/components/dashboard/components/NavbarBreadcrumbs.tsx
  src/components/dashboard/components/OptionsMenu.tsx
  src/components/dashboard/components/PageViewsBarChart.tsx
  src/components/dashboard/components/Search.tsx
  src/components/dashboard/components/SelectContent.tsx
  src/components/dashboard/components/SessionsChart.tsx
  src/components/dashboard/components/SideMenu.tsx
  src/components/dashboard/components/SideMenuMobile.tsx
  src/components/dashboard/components/StatCard.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/internals/components/Copyright.tsx
  src/components/dashboard/internals/components/CustomIcons.tsx
  src/components/dashboard/internals/data/gridData.tsx
  src/main.tsx
Due: npm run stylelint, prettier --write, npm run lint

clean up
  src/App.tsx
  src/assets/react.svg
  src/components/AppNavbar.tsx
  src/components/CustomDatePicker.tsx
  src/components/CustomizedDataGrid.tsx
  src/components/Header.tsx
  src/components/MainGrid.tsx
  src/components/MenuButton.tsx
  src/components/MenuContent.tsx
  src/components/NavbarBreadcrumbs.tsx
  src/components/OptionsMenu.tsx
  src/components/SideMenu.tsx
  src/components/SideMenuMobile.tsx
  src/components/StatCard.tsx
  src/components/dashboard/components/CardAlert.tsx
  src/components/dashboard/components/ChartUserByCountry.tsx
  src/components/dashboard/components/CustomizedTreeView.tsx
  src/components/dashboard/components/HighlightedCard.tsx
  src/components/dashboard/components/PageViewsBarChart.tsx
  src/components/dashboard/components/Search.tsx
  src/components/dashboard/components/SelectContent.tsx
  src/components/dashboard/components/SessionsChart.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/internals/components/Copyright.tsx
  src/components/dashboard/internals/components/CustomIcons.tsx
  src/components/dashboard/internals/data/gridData.tsx
  src/layout/Dashboard.tsx
Due: prettier --write, npm run lint

Setup routes
  package-lock.json
  package.json
  src/components/AppNavbar.tsx
  src/layout/Dashboard.tsx
  src/layout/PageLayout.tsx
  src/layout/Sidebar/MenuContent.tsx
  src/layout/Sidebar/OptionsMenu.tsx
  src/layout/Sidebar/SideMenu.tsx
  src/layout/Sidebar/SideMenuMobile.tsx
  src/layout/Sidebar/Sidebar.tsx
  src/layout/Sidebar/index.ts
  src/main.tsx
  src/page/home/HomePage.tsx
  src/page/home/index.ts
  src/page/users/PageHeader.tsx
  src/page/users/TableSection.tsx
  src/page/users/UsersDataGrid.tsx
  src/page/users/UsersPage.tsx
  src/page/users/WidgetsSection.tsx
  src/page/users/index.ts
Due: prettier --write, npm run lint

Setup supabase basic usage
  .gitignore
  package-lock.json
  package.json
  src/main.tsx
  src/page/users/UsersDataGrid.tsx
  src/supabase.ts
Due: prettier --write, npm run lint

Add generated types
  database.types.ts
  src/main.tsx
  src/page/users/UsersDataGrid.tsx
  src/supabase.ts
Due: prettier --write, npm run lint

add internationalization
  package-lock.json
  package.json
  public/locales/uk/translation.json
  src/clients/supabase.ts
  src/configs/i18n.ts
  src/constants/route.ts
  src/layout/Sidebar/MenuContent.tsx
  src/layout/Sidebar/navList.tsx
  src/main.tsx
  src/page/users/index.ts
  src/pages/customers/CustomersDataGrid.tsx
  src/pages/customers/CustomersPage.tsx
  src/pages/customers/PageHeader.tsx
  src/pages/customers/TableSection.tsx
  src/pages/customers/WidgetsSection.tsx
  src/pages/customers/index.ts
  src/pages/home/HomePage.tsx
  src/pages/home/index.ts
  src/types/database.types.ts
  src/types/i18next.d.ts
  src/utils/router.ts
  src/utils/translate.ts
Due: prettier --write, npm run lint

restructure base setup
  package-lock.json
  package.json
  public/img/avatar-girl-1.svg
  public/img/avatar-girl-2.svg
  public/img/logo-full.svg
  public/img/logo.svg
  public/locales/uk/translation.json
  public/vite.svg
  src/components/CustomDatePicker.tsx
  src/configs/router.ts
  src/constants/route.ts
  src/layout/PageContent.tsx
  src/layout/PageHeader/PageHeader.tsx
  src/layout/PageHeader/UserMenu.tsx
  src/layout/PageHeader/index.ts
  src/layout/PageLayout.tsx
  src/layout/PageSection.tsx
  src/layout/Sidebar/MenuContent.tsx
  src/layout/Sidebar/SideMenu.tsx
  src/layout/Sidebar/navList.tsx
  src/main.tsx
  src/pages/customers/CustomersDataGrid.tsx
  src/pages/customers/CustomersPage.tsx
  src/pages/customers/PageHeader.tsx
  src/pages/customers/TableSection.tsx
  src/pages/customers/WidgetsSection.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/index.ts
  src/pages/statistic/StatisticPage.tsx
  src/pages/statistic/index.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, npm run lint

Create type safe baseDataGrid
  src/components/BaseDataGrid.tsx
  src/components/NavbarBreadcrumbs.tsx
  src/components/StatCard.tsx
  src/configs/index.ts
  src/configs/theme.ts
  src/main.tsx
  src/pages/customers/TableSection.tsx
  src/utils/translate.ts
Due: prettier --write, npm run lint

Update folder structure Update PageSection
  public/locales/uk/translation.json
  src/App.tsx
  src/components/layout/AppNavbar.tsx
  src/components/layout/Dashboard.tsx
  src/components/layout/PageContent.tsx
  src/components/layout/PageHeader/PageHeader.tsx
  src/components/layout/PageHeader/UserAccountMenu.tsx
  src/components/layout/PageHeader/index.ts
  src/components/layout/PageLayout.tsx
  src/components/layout/PageSection.tsx
  src/components/layout/Sidebar/MenuContent.tsx
  src/components/layout/Sidebar/SideMenu.tsx
  src/components/layout/Sidebar/SideMenuMobile.tsx
  src/components/layout/Sidebar/Sidebar.tsx
  src/components/layout/Sidebar/index.ts
  src/components/pages/customers/CustomersPage.tsx
  src/components/pages/customers/TableSection.tsx
  src/components/pages/customers/index.ts
  src/components/pages/statistic/StatisticPage.tsx
  src/components/pages/statistic/index.ts
  src/components/shared/BaseDataGrid.tsx
  src/components/shared/MenuButton.tsx
  src/components/shared/index.ts
  src/configs/router.ts
  src/layout/PageSection.tsx
Due: prettier --write, npm run lint

Restructure customers folder
  package-lock.json
  package.json
  src/components/layout/PageLayout.tsx
  src/components/pages/customers/CustomersPage.tsx
  src/components/pages/customers/CustomersTable/CustomersTable.tsx
  src/components/pages/customers/CustomersTable/TableToolbar.tsx
  src/components/pages/customers/CustomersTable/index.ts
  src/components/pages/customers/TableSection.tsx
  src/components/pages/statistic/StatisticPage.tsx
  src/components/shared/BaseDataGrid/BaseDataGrid.tsx
  src/components/shared/BaseDataGrid/BaseDataGridToolbar.tsx
  src/components/shared/BaseDataGrid/index.ts
  src/components/shared/index.ts
Due: prettier --write, npm run lint

Add basic form usage
  package-lock.json
  package.json
  public/locales/uk/translation.json
  src/components/pages/customers/CustomerForm/CustomerFormContainer.tsx
  src/components/pages/customers/CustomerForm/defaultValues.ts
  src/components/pages/customers/CustomerForm/index.ts
  src/components/pages/customers/CustomersTable/TableToolbar.tsx
  src/components/shared/BaseDialog/BaseDialog.tsx
  src/components/shared/BaseDialog/index.ts
  src/components/shared/BaseForm/BaseFormContainer.tsx
  src/components/shared/BaseForm/BaseFormFooter.tsx
  src/components/shared/BaseForm/index.ts
  src/configs/theme.ts
Due: prettier --write, npm run lint

finish configuration
  src/App.tsx
  src/clients/supabase.ts
  src/configs/router.ts
  src/main.tsx
Due: prettier --write, npm run lint

add yml config
  _config.yml
Due: none

add .github/workflows
  .github/workflows/deploy.yml
  vite.config.ts
Due: prettier --write, npm run lint

revert dleted config
  _config.yml
  package.json
  vite.config.ts
Due: prettier --write, npm run lint

fix app structure
  package.json
  src/assets/img/avatar-girl-1.svg
  src/assets/img/avatar-girl-2.svg
  src/assets/img/logo-full.svg
  src/assets/img/logo.svg
  src/components/layout/PageHeader/UserAccountMenu.tsx
  src/components/layout/Sidebar/SideMenu.tsx
  vite.config.ts
Due: prettier --write, npm run lint

fix deploy.yml
  .github/workflows/deploy.yml
Due: none

fix deployment. second try
  .github/workflows/deploy.yml
  package.json
  src/configs/i18n.ts
  src/constants/route.ts
  vite.config.ts
Due: prettier --write, npm run lint

fix deployment. third try
  src/configs/i18n.ts
  vite.config.ts
Due: prettier --write, npm run lint

Path conditions:
  npm run stylelint: any of: *.{css,scss}
  prettier --write: (any of: *.{css,scss}) or (any of: *.{js,ts,jsx,tsx})
  npm run lint: any of: *.{js,ts,jsx,tsx}
